@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Lato", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-container {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  max-width: 1400px;
  padding-inline: 5%;
}

@layer components {
  .nav-links {
    @apply px-3 py-2   text-[20px]  font-semibold;
  }
  .icon-hover {
    @apply opacity-0 group-hover:opacity-100 transition-opacity duration-250;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}
header {
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.3);
}
/* .home {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.image {
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/LS0+CiAgICAgICAgICAgICAgPHN2ZyBpZD0ic3ctanMtYmxvYi1zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgICAgICAgICAgICAgICAgICAgPGRlZnM+IAogICAgICAgICAgICAgICAgICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InN3LWdyYWRpZW50IiB4MT0iMCIgeDI9IjEiIHkxPSIxIiB5Mj0iMCI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8c3RvcCBpZD0ic3RvcDEiIHN0b3AtY29sb3I9InJnYmEoMjQ4LCAxMTcsIDU1LCAxKSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHN0b3AgaWQ9InN0b3AyIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMTY4LCAzMSwgMSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgICAgICAgICAgICAgIDwvZGVmcz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjc3ctZ3JhZGllbnQpIiBkPSJNMjYuMSwtMjguOEMzNC4yLC0yNC4zLDQxLjQsLTE2LjQsNDIuMywtOEM0My4xLDAuNSwzNy42LDkuNSwzMi4yLDE4LjJDMjYuNywyNywyMS4zLDM1LjQsMTMuNCwzOS41QzUuNCw0My42LC01LjEsNDMuMywtMTIuNSwzOC43Qy0xOS45LDM0LjEsLTI0LjEsMjUuMiwtMjgsMTYuOUMtMzEuOSw4LjYsLTM1LjYsMC44LC0zNC4xLC01LjhDLTMyLjcsLTEyLjQsLTI2LjIsLTE4LC0xOS43LC0yMi44Qy0xMy4xLC0yNy42LC02LjYsLTMxLjcsMS4yLC0zMy4xQzksLTM0LjUsMTgsLTMzLjMsMjYuMSwtMjguOFoiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwIDUwKSIgc3Ryb2tlLXdpZHRoPSIwIiBzdHlsZT0idHJhbnNpdGlvbjogYWxsIDAuM3MgZWFzZSAwczsiPjwvcGF0aD4KICAgICAgICAgICAgICA8L3N2Zz4=");
}

.name-title {
  background-image: linear-gradient(43deg, blue 0%, pink 46%, purple 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.contact-title {
  background-image: linear-gradient(43deg, #ffc300 50%, white 50%);
  -webkit-background-clip: text;
  color: transparent;
}

.react {
  animation-name: anime;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.main-image {
  animation-name: anime-img;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anime-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
